<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lantogis.original.core.security.dao.UserDAO">
	<resultMap type="com.lantogis.original.core.security.model.SecUser" id="userMap">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="showname" column="showname" />
		<result property="password" column="password" />
		<result property="created" column="created" />
		<result property="enabled" column="enabled" />
		<result property="lasted" column="lasted" />
		<result property="userType" column="user_type" />
		<result property="code" column="code" />
	</resultMap>
	<select id="findUserByUsername" parameterType="string" resultMap="userMap">
	 	SELECT * FROM userbase WHERE username = #{username}
	</select>
	
	<select id="findRolesByUserId" parameterType="int" resultType="com.lantogis.original.core.security.model.SecRole">
	 	select b.* from role b,userbase_role c where  b.id = c.role_id  and c.user_id = #{userId}
	</select>
	
	<sql id="requiredColumn">
		username,
		password,
		created,
		enabled,
		lasted,
		user_type,
		code,
		showname
	</sql>
	<sql id="search">
		1=1
		order by id
	</sql>
	
	<insert id="add" parameterType="com.lantogis.original.core.security.model.SecUser" useGeneratedKeys="true" keyProperty="id">
	
		insert 
		into
		userbase
		(
		<include refid="requiredColumn" />
		)
		values
		(
			#{username},
			#{password},
			#{created},
			#{enabled},
			#{lasted},
			#{userType},
			#{code},
			#{showname}
		)
		
	</insert>
	
	<select id="queryByList" resultMap="userMap" >
		select 
		id,
		<include refid="requiredColumn" />
		from 
		userbase
		where 
			<include refid="search" />
	</select>
	<delete id="delete">
		delete 
			from
				userbase
				  where
				  	id=#{id}
	</delete>
	<select id="queryById" resultMap="userMap">
		select 
		id,
		<include refid="requiredColumn" />
		from 
		userbase
		where 
			id=#{id}
	</select>
	 <update id="update" parameterType="com.lantogis.original.core.security.model.SecUser">
		update 
			userbase
		set
			<if test="username !=null">
				username=#{username},
			</if>
			<if test="showname !=null">
				showname=#{showname},
			</if>
			<if test="password !=null">
				password=#{password},
			</if>
			<if test="enabled !=null">
				enabled=#{enabled},
			</if>
			<if test="userType !=null">
				user_type=#{userType},
			</if>
			<if test="code!=null">
				code=#{code},
			</if>
			id=#{id}
		where
		 id=#{id}
	</update> 
</mapper>